.sv-filter-content {
	.sv-filter-box {
		background-color: #F7F7F8;
		border-radius: var(--border-radius-lg);
		margin-bottom: var(--spacer-3);
		padding: var(--spacer-3);

		.custom-control-input {
			position: relative;
			width: 100%;
		}

		.custom-control-label {
			color: #282934;
			font-size: 18px;
			font-weight: 600;
			height: 1.5rem;
			left: 0;
			padding-left: var(--spacer-4);
			position: absolute;
			width: 100%;

			&:before {
				border-color: var(--color-neutral-10);
			}
		}

		.custom-control-label-text {
			font-size: 13px;
			font-weight: 400;
			line-height: 1.5rem;
			position: relative;
		}
	}

	.sv-filter-box-body {
		display: block;
	}

	.sv-filter-box.sv-filter-box-closed .sv-filter-box-body {
		display: none;
	}

	.sv-filter-box.sv-filter-box-closed .sv-filter-section-header .lexicon-icon {
		transform: rotate(-90deg);
	}

	.sv-filter-section-header {
		background-color: transparent;
		border: none;
		color: #332B4A;
		cursor: pointer;

		.lexicon-icon {
			transition: transform 0.15s ease;
		}
	}

	.sv-link {
		color: #282934;
		font-size: var(--font-size-sm);
		font-weight: 600;

		&.disabled {
			color: var(--color-action-neutral-disabled);
		}
	}

	@media (max-width: 992px) {
		.sv-filter-box:not(.sv-filter-box-open) .sv-filter-box-body {
			display: none;
		}

		.sv-filter-box:not(.sv-filter-box-open)
			.sv-filter-section-header
			.lexicon-icon {
			transform: rotate(-90deg);
		}
	}
}
