//Barlow
@font-face {
	font-display: swap;
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/barlow/Barlow-Regular.ttf);
}

@font-face {
	font-display: swap;
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 600;
	src: url(../fonts/barlow/Barlow-SemiBold.ttf);
}

@font-face {
	font-display: swap;
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/barlow/Barlow-Bold.ttf);
}

@font-face {
	font-display: swap;
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 800;
	src: url(../fonts/barlow/Barlow-ExtraBold.ttf);
}

//Source Serif Pro
@font-face {
	font-display: swap;
	font-family: 'Source Serif Pro';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/sourceSerifPro/SourceSerifPro-Regular.ttf);
}
