@import 'atlas-variables';

.sidebar-layout {
	--sidebar-layout-width: 472px !important;
}

.c-slideout .sidebar {
	background-color: $white !important;

	.asset-metadata {
		color: $gray-600;
	}

	.asset-metadata-block {
		h3 {
			font-size: 14px;
			margin-bottom: 0;
		}

		p {
			font-size: 14px;
			margin-bottom: 0;
		}
	}

	.asset-type-default-view {
		.c-empty-state-title {
			display: none;
		}

		.c-empty-state-text {
			color: $gray-600;
			margin-top: 2rem;
		}
	}

	.card-image {
		height: 250px;
		object-fit: contain;
		width: 100%;
	}

	.nav {
		flex-wrap: nowrap;
	}

	.nav-link {
		&:focus-visible,
		&:hover,
		&.active {
			background-color: transparent;
		}
	}

	.nav-tabs {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.sidebar-header {
		border-bottom-width: 0;
		padding-top: 1.75rem;

		.asset-icon {
			font-size: 20px;

			&-files {
				color: $red-l1;
			}
		}

		.asset-title {
			margin-bottom: 0;
		}
	}

	.tab-content {
		overflow-y: auto;
	}
}
